{% extends 'index.html' %}
{% load static %}
{% block data_sync %}
    <style>
        /*必须给editor包裹元素设置宽高*/
        #editor {
            width: 100%;
            height: 350px;
        }

        .tab .nav-tabs {
            border-bottom: 0 none;
            background: #eaeaea;
        }

        .tab .nav-tabs li a {
            background: transparent;
            border-radius: 0;
            font-size: 16px;
            border: none;
            color: #333;
            padding: 7px 15px;
        }

        .tab .nav-tabs li.active a, .tab .nav-tabs li.active a i {
            border: 0 none;
            background: #586676;
            color: #fff;
        }

        .tab .nav-tabs li.active a:after {
            content: "";
            position: absolute;
            left: 45%;
            bottom: -14px;
            border: 7px solid transparent;
            border-top: 7px solid #0d2fd7;
        }

        .tab .tab-content {
            padding: 3px;
            color: #5a5c5d;
            font-size: 10px;
            line-height: 15px;
            margin-top: 3px;
            border-bottom: 2px solid #1f232c;
        }
        label{
            color: #333;
            font-size:20px ;

        }
        @media only screen and (max-width: 480px) {
            .tab .nav-tabs, .tab .nav-tabs li {
                width: 100%;
                font-size: ;
            }

            .tab .nav-tabs li.active a {
                border-radius: 5px 5px 0 0;
            }

            .tab .nav-tabs li:first-child a {
                border-bottom-left-radius: 0;
            }

            .tab .nav-tabs li a {
                margin-bottom: 10px;
                border: 1px solid lightgray;
            }

            .tab .nav-tabs li.active a:after {
                border: none;
            }
        }
    </style>

    <form class="form-horizontal">
        <div class="row">
            <div class="col-lg-9">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title" style="font-weight:bold">数据同步</h4>
                        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499"
                            size="10"/>
                        <pre id='editor'>

                        </pre>

                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title" style="font-weight:bold">查询条件</h4>
                        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499"
                            size="10"/>
                        <div class="form-group">
                            <select id="ol_instance" name="instance_name" onchange="initDatabase()"
                                    class="selectpicker form-control border"
                                    data-live-search="true" data-live-search-placeholder="搜索您所在组的实例"
                                    title="请选择实例:" data-placeholder="请选择实例:">
                                <optgroup id="instance" label="MySQL">
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="ol_db" name="db_name" onchange="initTable()"
                                    class="selectpicker form-control border"
                                    data-live-search="true" data-live-search-placeholder="搜索您要查询的数据库"
                                    title="请选择数据库:" data-placeholder="请选择数据库:">
                                <optgroup id="database" label="数据库">
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="ol_tb" name="table_name" class="selectpicker form-control border"
                                    data-live-search="true"
                                    data-live-search-placeholder="搜索您要查询的表"
                                    title="查询表数据" data-placeholder="查看表数据">
                                <optgroup id="table" label="数据表">
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">

                            <select id="ol_limit" name="limit_num" class="selectpicker form-control border"
                                    title="返回行数" data-placeholder="请选择返回行数:">
                                <optgroup id="limit" label="返回行数">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="btn-format" type="button" class="btn btn-info" value="美化">
                            <input id="btn-sqlquery" type="button" class="btn btn-success" onclick="validate()"
                                   value="执行查询">
                        </div>
                    </div>
                </div>
            </div> <!-- end row -->
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <h4 class="mt-0 header-title" style="font-weight:bold">查询结果</h4>
                        </li>
                    </ul>
                    <div id="tb_content" class="tab-content">
                        <div id="toolbar" class="btn-group" style="display: block">
                            <button id="btn_add" type="button" onclick="initInstance()" data-toggle="modal"
                                    data-target="#datasync"
                                    class="btn btn-info btn-sm rightSize">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>选中同步
                            </button>

                            <div id="datasync" class="modal fade" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mt-0" id="modalHeader">数据同步配置</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                ×
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" method="post" action="/factory/intranet/add/">
                                                <div class="tab" id="tab_" role="tabpanel" style="height:600px;">
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs" role="tablist" style="margin-top:2px;"
                                                        id="docTabs">
                                                        <li role="presentation" class="active"><a href="#Section_new"
                                                                                                  aria-controls="home"
                                                                                                  role="tab"
                                                                                                  data-toggle="tab">同步字段</a>
                                                        <li role="presentation"><a href="#Section_week"
                                                                                   aria-controls="profile"
                                                                                   role="tab"
                                                                                   data-toggle="tab">同步库表</a>
                                                        <li role="presentation"><a href="#Section_month"
                                                                                   aria-controls="messages" role="tab"
                                                                                   data-toggle="tab">数据过期时间</a>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane fade in active"
                                                             id="Section_new">
                                                            <p>
                                                                tab1中的内容
                                                            </p>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="Section_week">
                                                            <div class="form-group">
                                                                <label>内网数据库：</label>
                                                                <select id="intranet_instance"

                                                                        onchange=""
                                                                        class="selectpicker form-control border"
                                                                        data-live-search="true"
                                                                        data-live-search-placeholder="搜索您所在组的实例"
                                                                        title="请选择实例:"
                                                                        data-width="200px"
                                                                        data-placeholder="请选择实例:" tabindex="-98">
                                                                    <optgroup id="instance_sel" label="MySQL">
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <select id="intranet_db"
                                                                        onchange=""
                                                                        class="selectpicker form-control border"
                                                                        data-live-search="true"
                                                                        data-width="200px"
                                                                        data-live-search-placeholder="搜索您要查询的数据库"
                                                                        title="请选择数据库:"
                                                                        data-placeholder="请选择数据库:">
                                                                    <optgroup id="db_sel" label="数据库">
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <select id="intranet_tb"
                                                                        class="selectpicker form-control border"
                                                                        data-live-search="true"
                                                                        data-width="200px"
                                                                        data-live-search-placeholder="搜索您要查询的表"
                                                                        title="查询表数据"
                                                                        data-placeholder="查看表数据">
                                                                    <optgroup id="tb_sel" label="数据表">
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="Section_month">
                                                            <p>
                                                                tab3中的内容
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light">同步
                                                    </button>
                                                    <button type="button" class="btn btn-danger waves-effect"
                                                            data-dismiss="modal">
                                                        取消同步
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                        </div>
                        <div id="resultTab" class="tab-pane active">
                            <div class="table-responsive">
                                <table id="query_result" style="border: 1px"></table>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js"
            type="text/javascript"></script>
    <!-- ace edit配置 -->
    <script>
        //初始化id字符串（不加#）
        var editor = ace.edit('editor');
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        //设置主题
        editor.setTheme("ace/theme/textmate");
        // 设置编辑语言
        editor.getSession().setMode("ace/mode/sql");
        // 设置字体大小
        editor.setFontSize(15);
        // 启用提示菜单
        ace.require("ace/ext/language_tools");

    </script>
    <!-- 查询条件 -->
    <script>

        window.onload = function () {
            // 动态加载省份选项数据
            initSelectOptions("instance", "query_instance");
        };// onReady
        function removeAll(ele) {
            //根据id查找对象，
            var selectObj = document.getElementById(ele);
            //将select的options置为0
            selectObj.options.length = 0;
        }

        /**
         * 动态生成select选项
         * @param selectId
         * @param parentId
         * @param instance
         * @param database
         * @returns
         */

        function initSelectOptions(selectId, parentId, instance = null, database = null) {
            var selectObj = $("#" + selectId);
            var optgroupObj = $("#" + parentId);
            $.ajax({
                url: "http://127.0.0.1:8001/factory/online/data/",
                async: false,
                type: "GET",
                data: "instance=" + instance + '&' + "database=" + database,
                success: function (result) {
                    if (result.success) {
                        var configs = result.data;
                        selectObj.find().remove();
                        for (var i in configs) {
                            var optionValue = configs[i];
                            selectObj.append(new Option(optionValue, optionValue));
                        }
                        // 刷新select
                        optgroupObj.selectpicker('render');
                        optgroupObj.selectpicker('refresh');
                    } else {
                        console.log('获取[' + parentId + ']信息失败，原因：' + result.errorMessage);
                    }
                },
                error: function (result) {
                    console.log('获取[' + parentId + ']信息失败，原因：' + result.errorMessage);
                }
            });// ajax
        }

        function initDatabase() {
            // 当实例变更清除数据库，表并刷新
            removeAll('query_db');
            removeAll('query_tb');
            $("#query_tb").selectpicker('refresh');
            $("#limit_num").selectpicker('refresh');
            var instanceSel = $("#query_instance").val();
            initSelectOptions('database', 'query_db', instanceSel);


        }

        function initTable() {
            // 当数据库变更时，清空表并刷新
            var instanceSel = $("#query_instance").val();
            var dbSel = $("#query_db").val();
            removeAll('query_tb');
            $("#query_tb").selectpicker('refresh');
            initSelectOptions('table', 'query_tb', instanceSel, dbSel);
        }

        function sqlquery_validate() {
            var result = true;
            var instance_name = $("#query_instance").val();
            var db_name = $("#query_db").val();
            var sqlContent = editor.getValue();

            var select_sqlContent = editor.session.getTextRange(editor.getSelectionRange());
            if (select_sqlContent) {
                sqlContent = select_sqlContent
            }
            if (!instance_name) {
                alert("请选择实例！");
                result = false;
            } else if (!db_name) {
                alert("请选择数据库！");
                result = false;
            } else if (!sqlContent) {
                alert("SQL内容不能为空！");
                result = false;
            }
            return result;
        }

        //先做表单验证，验证成功再成功提交查询请求
        var validate = function () {
            if (sqlquery_validate()) {
                sqlquery();
            }
        };
    </script>
    <!--同步数据库配置-->
    <script>
        function remove_tab_class() {
            var lis = document.querySelectorAll('#tab_>ul>li')
            for (var i = 0; i < lis.length; i++) {
                lis[i].removeAttribute('class')
            }

        }

        function tab() {
            var lis = document.querySelectorAll('#tab_>ul>li')

            for (var i = 0; i < lis.length; i++) {
                lis[i].index = i;
                lis[i].onclick = function () {
                    remove_tab_class()
                    this.className = 'active';

                }
            }
        }


        tab()

        //初始化内网实例数据
        function initInstance() {
            initIntranetSelectOptions("intranet_instance", "instance_sel");
        }

        //清除optgroup
        function removeAll(ele) {
            //根据id查找对象，
            var selectObj = document.getElementById(ele);
            //将select的options置为0
            selectObj.options.length = 0;
        }

        /**
         * 动态生成select选项
         * @param selectId
         * @param optId
         * @param instance
         * @param database
         * @returns
         */
        function initIntranetSelectOptions(selectId, optId, instance, database) {
            var selectObj = $("#" + selectId);
            var optgroupObj = $("#" + optId);
            $.ajax({
                url: "http://127.0.0.1:8001/factory/intranet/data/",
                async: false,
                type: "GET",
                data: "instance=" + instance + '&' + "database=" + database,
                success: function (result) {
                    if (result.success) {
                        var configs = result.data;
                        removeAll(selectId)
                        for (var i in configs) {
                            var optionValue = configs[i].name
                            optgroupObj.append(new Option(optionValue, optionValue));
                        }
                        // 刷新select
                        selectObj.selectpicker('render');
                        selectObj.selectpicker('refresh');
                    } else {
                        console.log('获取[' + selectId + ']信息失败，原因：' + result.errorMessage);
                    }
                },
                error: function (result) {
                    console.log('获取[' + selectId + ']信息失败，原因：' + result.errorMessage);
                }
            });// ajax
        }

        //初始化数据库列表
        function initIntranetDatabase() {
            // 当实例变更清除数据库，表并刷新
            removeAll('intranet_db');
            removeAll('intranet_tb');
            $("#intranet_db").selectpicker('refresh');
            $("#intranet_tb").selectpicker('refresh');
            var instanceSel = $("#intranet_instance").val();
            initSelectOptions('db_sel', 'intranet_db', instanceSel);
        }

        //初始化内网数据表数据
        function initIntranetTable() {
            // 当数据库变更时，清空表并刷新
            var instanceSel = $("#intranet_instance").val();
            var dbSel = $("#intranet_db").val();
            removeAll('intranet_db');
            $("#intranet_db").selectpicker('refresh');
            initSelectOptions('tb_sel', 'intranet_tb', instanceSel, dbSel);
        }

        //校验内网数据库配置
        function sync_data_validate() {
            var result = true;
            var instance_name = $("#intranet_instance").val();
            var db_name = $("#intranet_db").val();
            if (!instance_name) {
                alert("请选择实例！");
                return result = false;
            } else if (!db_name) {
                alert("请选择数据库！");
                return result = false;
            }
            return result;
        }

        //同步数据至内网
        function data_sync_to_intranet() {
            if (sync_data_validate()) {

            }
        }
    </script>
    <!--数据展示-->
    <script>
        //展示数据
        function display_data(data) {
            var result = data.data;
            if (result['column_list']) {
                //异步获取要动态生成的列
                var columns = [{
                    field: '全选',
                    checkbox: true,
                }];
                $.each(result['column_list'], function (i, column) {
                    columns.push({
                        field: i,
                        title: column,
                        align: 'left',
                    });
                })
                //初始化查询结果
                $("#" + ('query_result')).bootstrapTable('destroy').bootstrapTable({
                    data: result['rows'],
                    columns: columns,
                    uniqueId: "id",                    //每一行的唯一标识，一般为主键列
                    undefinedText: 'null',
                    showColumns: true,   //是否显示所有的列
                    showToggle: true,
                    clickToSelect: true,
                    striped: true,
                    toolbar: '#toolbar',
                    total: result.total,
                    pagination: true,
                    pageSize: 30,//每页的记录行数（*）
                    pageList: [10, 20, 30, 50], //可供选择的每页的行数（*）
                    paginationPreText: "上一页",
                    paginationNextText: "下一页",
                    search: true,                      //是否显示表格搜索
                    strictSearch: false,                //是否全匹配搜索
                    onLoadSuccess: function (data) { //加载成功时执行
                        tool = document.getElementById("#toolbar")
                        tool.style.display = 'block'
                        console.log(data);
                    },
                    onLoadError: function (res) { //加载失败时执行
                        console.log(res);
                    },
                    //格式化详情
                    detailFormatter: function (index, row) {
                        var html = [];
                        $.each(row, function (key, value) {
                            if (key === 0) {//mongodb这里要修改
                                html.push('<pre>' + highLight(value) + '</pre>');
                            }
                        });
                        return html.join('');
                    },
                    locale: 'zh-CN'
                });

            }
        }

        //向后端提交查询数据
        function sqlquery() {
            var select_sqlContent = editor.session.getTextRange(editor.getSelectionRange());
            if (select_sqlContent) {
                sqlContent = select_sqlContent
            } else {
                var sqlContent = editor.getValue();
            }
            //提交请求
            $.ajax({
                type: "post",
                url: "http://127.0.0.1:8001/factory/query/",
                dataType: "json",
                data: JSON.stringify({
                    instance_name: $("#query_instance").val(),
                    db_name: $("#query_db").val(),
                    tb_name: $("#query_tb").val(),
                    sql_content: sqlContent,
                    limit_num: $("#limit_num").val()
                }),
                success: function (data) {
                    console.log(data)
                    display_data(data)
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    </script>
{% endblock %}