{% extends 'login/index.html' %}
{% load static %}
{% block data_sync %}
    <form class="form-horizontal">
        <div class="row">
            <div class="col-lg-9">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title" style="font-weight:bold">数据同步</h4>
                        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499"
                            size="10"/>
                        <pre id='editor'>

                        </pre>

                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title" style="font-weight:bold">查询条件</h4>
                        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499"
                            size="10"/>
                        <div class="form-group">
                            <select id="ol_instance" name="instance_name"
                                    class="selectpicker form-control border"
                                    data-live-search="true" data-live-search-placeholder="搜索您所在组的实例"
                                    title="请选择实例:" data-placeholder="请选择实例:">
                                <optgroup id="instance" label="MySQL">
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="ol_db" name="db_name"
                                    class="selectpicker form-control border"
                                    data-live-search="true" data-live-search-placeholder="搜索您要查询的数据库"
                                    title="请选择数据库:" data-placeholder="请选择数据库:">
                                <optgroup id="database" label="数据库">
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="ol_tb" name="table_name" class="selectpicker form-control border"
                                    data-live-search="true"
                                    data-live-search-placeholder="搜索您要查询的表"
                                    title="查询表数据" data-placeholder="查看表数据">
                                <optgroup id="table" label="数据表">
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">

                            <select id="ol_limit" name="limit_num" class="selectpicker form-control border"
                                    title="返回行数" data-placeholder="请选择返回行数:">
                                <optgroup id="limit" label="返回行数">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="btn-format" type="button" class="btn btn-info" value="美化">
                            <input id="btn-sqlquery" type="button" class="btn btn-success"
                                   value="执行查询">
                        </div>
                    </div>
                </div>
            </div> <!-- end row -->
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <h4 class="mt-0 header-title" style="font-weight:bold">查询结果</h4>
                        </li>
                    </ul>
                    <div id="tb_content" class="tab-content">
                        <div id="toolbar" class="btn-group" style="display: block">
                            <button id="btn-add" type="button" data-toggle="modal"
                                    data-target="#datasync"
                                    class="btn btn-info btn-sm rightSize">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>选中同步
                            </button>

                            <div id="datasync" class="modal fade" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mt-0" id="modalHeader">数据同步配置</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                ×
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" method="post" action="/factory/intranet/add/">
                                                <div class="tab" id="tab_" role="tabpanel" style="height:600px;">
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs" role="tablist" style="margin-top:2px;"
                                                        id="docTabs">
                                                        <li role="presentation" class="active"><a href="#Section_new"
                                                                                                  aria-controls="home"
                                                                                                  role="tab"
                                                                                                  data-toggle="tab">同步字段</a>
                                                        <li role="presentation"><a id="sync-data"
                                                                                   href="#Section_week"
                                                                                   aria-controls="profile"
                                                                                   role="tab"
                                                                                   data-toggle="tab">同步库表</a>
                                                        <li role="presentation"><a href="#Section_month"
                                                                                   aria-controls="messages" role="tab"
                                                                                   data-toggle="tab">数据过期时间</a>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane fade in active"
                                                             id="Section_new">
                                                            <p>
                                                                tab1中的内容
                                                            </p>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="Section_week">
                                                            <div class="form-group">
                                                                <label >数据库实例：</label>
                                                                <select id="intranet_instance"
                                                                        class="selectpicker form-control border"
                                                                        data-live-search="true"
                                                                        data-live-search-placeholder="搜索内网配置的数据库实例"
                                                                        title="请选择实例:"
                                                                        data-width="300px"
                                                                        data-placeholder="请选择实例:" tabindex="-98">
                                                                    <optgroup id="instance_sel" label="内网数据库实例">
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>内网数据库：</label>
                                                                <select id="intranet_db"
                                                                        onchange=""
                                                                        class="selectpicker form-control border"
                                                                        data-live-search="true"
                                                                        data-width="300px"
                                                                        data-live-search-placeholder="搜索您要同步的数据库"
                                                                        title="请选择数据库:"
                                                                        data-placeholder="请选择数据库:" >
                                                                    <optgroup id="db_sel" label="内网数据库">
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>表：</label>
                                                                <select id="intranet_tb"
                                                                        class="selectpicker form-control border"
                                                                        data-live-search="true"
                                                                        data-width="300px"
                                                                        data-live-search-placeholder="搜索您要同步的表"
                                                                        title="查询表数据"
                                                                        data-placeholder="查看表数据">
                                                                    <optgroup id="tb_sel" label="内网数据表">
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="Section_month">
                                                            <p>
                                                                tab3中的内容
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light">同步
                                                    </button>
                                                    <button type="button" class="btn btn-danger waves-effect"
                                                            data-dismiss="modal">
                                                        取消同步
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                        </div>
                        <div id="resultTab" class="tab-pane active">
                            <div class="table-responsive">
                                <table id="query_result" style="border: 1px"></table>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js"
            type="text/javascript"></script>
    <!-- ace edit配置 -->
    <script>
        //初始化id字符串（不加#）
        var editor = ace.edit('editor');

        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        //设置主题
        editor.setTheme("ace/theme/textmate");
        // 设置编辑语言
        editor.getSession().setMode("ace/mode/sql");
        // 设置字体大小
        editor.setFontSize(15);
        // 启用提示菜单
        ace.require("ace/ext/language_tools");
    </script>
    <!-- 查询条件 -->

    <script>
        function remove_tab_class() {
            var lis = document.querySelectorAll('#tab_>ul>li')
            for (var i = 0; i < lis.length; i++) {
                lis[i].removeAttribute('class')
            }

        }
        function tab() {
            var lis = document.querySelectorAll('#tab_>ul>li')

            for (var i = 0; i < lis.length; i++) {
                lis[i].index = i;
                lis[i].onclick = function () {
                    remove_tab_class()
                    this.className = 'active';

                }
            }
        }

        tab()

    </script>
    <!--数据展示-->
    <script>
        //展示数据

    </script>
{% endblock %}